<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <title>FREEMON!</title>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
   <script src="/main.js"></script>
   <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
   <link rel="stylesheet" type="text/css" href="/stylesheet.css"/>
   <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet"/>
   <script>
	window.onload = function() {
		var urlParams = new URLSearchParams(window.location.search);
		GameStatusData.pokeId = urlParams.get('pokeId');
		GameStatusData.difficultyLevel = urlParams.get('level');
	  	GameController.handleGameStart();
   }
   </script>
</head>
<body >
	<div class="gameScreen" style="display:none">
	   <div class="score">SCORE:<span class="scoreNum">00</span></div>
	   <div class="score" style="display:inline">LIVES LEFT:<span class="liveLeftNum">10</span></div>
	   <div class="freemonBox">
	   <!-- INSERT CHOSEN CHARACTER HERE! -->
	   </div>
	   <div class="buttonToGo"></div>
	   <div class="letterGuess"></div>
		
	   <div>
	      <p class="instruction">Pick your Letters!</p>
	   </div>
		<div class="alphabetLists"></div>  
	</div>
</body>
</html>
	