/* background image is set full screen */
html {
   background: linear-gradient(#99e6ff   ,#66ff99);
   font-family: 'Press Start 2P', cursive;
   height: 100%;
}

body {
   text-align: center;
   min-width: 500px;
}

input {
   font-family: inherit;
}

.logo {
   margin-top: 25px;
   padding-bottom: 20px;
}

.startPage {
   text-align: center;
   margin: 0 auto;
}

#userName {
   text-align: center;
   width: 215px;
   height: 45px;
   font-family: inherit;
   font-size: 20px;
   padding-left: 5px;
   border: none;

}

input, select {
   font-family: inherit;
   display: inline;
   width: 100px;
   height: 45px;
   font-size: 20px;
   background-color: white;
   border: none;
   margin: 5px;
   box-shadow: 2px 2px 2px #000000;
}

#playGame {
   margin-top: 20px;
   width: 400px;
   height: 45px;
   font-size: 20px;
}

.mouseOver {
   color: red;
   font-size: 20px;
}

.score {
   display: inline;
   font-size: 20px;
   padding-left: 10px;
   padding-bottom: 10px;
}

/* HangmanBox stylesheet*/
div.freemonBox {
   position: abolute;
   background-image: #2a3638;
   border-top: 15px solid black;
   border-bottom: 15px solid black; 
   width: 400px;
   height: 250px;
   margin: 0 auto;
   margin-bottom: 20px;
   margin-top: 20px;
   text-align: center;
}

p.instruction {
   text-align: center;
   font-size: 20px;
   padding: 10px 0px 10px 0px;
}

.letters {
   text-align: center;
   font-size: 30px;
   background-color: white;
   border-radius: 47px;
   border-style: none;
   width: 47px;
   height: 47px;
   margin: 5px;
   font-family: inherit;
   font-size: 24px;
   font-weight: bold;
   box-shadow: 2px 2px 2px #000000;
}

.letterGuess {}

.freemonshow {
   left: 43%;
   z-index: -1;
   height: 220px;
   padding-top: 20px;
}     

img.freemon {;
   height: 150px;
}

.letterGuessDiv {
   padding: 5px;
   display: inline;
   width: 40px;
   height: 30px;
   padding: 5px;
   border-bottom: 1px solid black;
   margin: 0px 5px 0px 5px;
}
/* selected buttons */
.selected {
   background-color: gray !important;
   color:white;
}

.wrong-selected {
   background-color: red;
   color:white;
}

.wrongBar {
   display: inline;
   float: left;
   width: 14px;
   height: 250px;
   background-color: black;
   margin-left: 24px;
}

.playAgain {
   display: block;
   width: 270px;
   height: 50px;
   font-size: 20px;
   margin: 0 auto;
   margin-top: 40px;
}

#poke1, #poke2, #poke3, #poke4 {
   background: transparent;
   border-style: none;
}

